.navigation {
    background-color: #776E9A;
    display: flex;
    width: 100%;
  
    .__wrapper {
      display: flex;
      justify-content: space-between;
  
     .__logo {
        justify-content: left;
        display: flex;
        flex: 0 1;
        min-width: 240px;
        align-items: center;
  
        img {
          padding: 0 10px 0 0;
          width: 80px;
          height: max-content;
          align-items: center;
          margin: 0;
        }
      }
  
      .nav {
        color: #fff;
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
  
        .__nav0 {
          color: #fff;
          display: flex;
          align-items: center;

          a{
            color: #fff;
          }
  
          li {
            white-space: nowrap;
          }
        }
      }
    }
  }

.mob-nav-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;

  .mobileNav{
    background-color: #776E9A;
    border: 1px solid #776E9A;
    border-radius: 10px;
      .navMob{

        .__nav0{
          margin: 0;
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          li,a{
            list-style-type: none;
            text-decoration: none;
            color: #fff;
          }
        }
      }
  }
}

@media screen and (max-width: 900px) {
  .navigation {  
    .__wrapper {  
     .__logo {
        img {
          width: 50px;
        }
      }
    }
  }
}
@media screen and (min-width: 900px) {
  .mob-nav-wrapper{
    display: none;
  }
}